@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
}

@theme {
--animate-fade-in-out: fade-in-scale 3.5s;
--animate-delayed-fade-in: delayed-fade-in 4.9s;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes delayed-fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
    .ethcard {
        @apply z-3 h-7/10 w-9/10 grid p-5 rounded-xl shadow-xl/30 shadow-xl/30 shadow-red-800/40
    }
    .importantButton {
        @apply bg-red-700 px-2 font-bold rounded-full border transition-all duration-200 inset-shadow-sm inset-shadow-stone-100/20 hover:bg-red-800 hover:ring-1 active:ring-2 active:ring-red-500/70
    }
    .regularButton {
        @apply bg-stone-950 text-stone-400 font-thin px-2 border border-stone-950/30 inset-shadow-sm inset-shadow-red-800/10 transition-all duration-200 hover:bg-stone-600/50 hover:ring active:ring-2 active:ring-stone-950/70
    }
    .cardMainArea{
        @apply flex justify-center items-center
    }
    .cardMainGrid{
      @apply flex flex-col justify-center bg-stone-950 h-[80vh] w-[20vw] border border-2 rounded-md border-stone-950
    }
}

body {
}
